body {
    background: #1e1e1e;
    color: #d4d4d4;
    font-family: Consolas, monospace;
    margin: 0;
}

.title-bar {
    background: #2d2d30;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

.editor {
    padding: 20px;
}

.keyword {
    color: #569CD6;
    font-weight: bold;
}

.string {
    color: #CE9178;
}

.comment {
    color: #6A9955;
}

.error {
    background: red;
    color: white;
    font-weight: bold;
}

.number {
    color:#b5cea8;
}

pre {
    white-space: pre-wrap;
    font-size: 14px;
}